<style>
    li {
        display: flex;
    }

</style>

<h1>Movie list</h1>

<ul>
    {% for movie in movies %}
        <li>
            {{ movie.rating.rating }}
            {{ movie.title }} --
            <form action="{% url 'list:rate_movie' movie.id %}" method="post">
                {% csrf_token %}
                <select name="user-rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <input type="submit" value="Vote">
                </select>
            </form>
            {% include 'lists/snippets/delete.html' %}
        </li>
    {% endfor %}
</ul>

<a href="{% url 'list:add_movie' %}">Add Movie</a>
